body{ background-color: #390D02;}

h1{ margin: 0px;
    text-align: center;
    font-family: arial;
    color: white;
    background-color: #A52502;}

p{ color: white;}

header{ margin-left: 29%;
        width: 41%;}

#menu{background-color: #1C8394;
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      overflow: hidden;
      margin-left: 29%;
      width: 41%;
      text-align: center;}

#menu li{float: left;}

#menu li a{display: block;
           text-align: center;
           padding: 10px 10px;
           text-decoration: none;}

#menu li a:hover{ transition: 00.5s;
                  color: white;
                  background-color: #154B52;}

article{ background-color: #154B52;
         text-align: justify;
         width: 39.7%;
         padding: 10px;
         margin-left: 29%;}

ol{padding: 19px;}

img{ width: 100%;
     display: block;
     margin-right: auto;
     margin-left: auto;}

ol li span{ float: right;}

ol li{ border-bottom: 1px solid black}

footer{ background-color:aqua;}

#btt_link{ text-align: center;}

#btt_link a{ text-decoration: none;
             color: white;
             background-color: aqua;
             border-radius: 5px;
             padding: 7px;}

#btt_link a:hover{transition: 0.5s;
                  background-color: #A52502;}

footer p{ text-align: center;}